html{
    background-color: #e2e2e2;
    font-family: 'Work Sans', sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container .containerbaby{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.container .containerbaby .box{
    flex-grow: 1;
    flex-flow: row;
    border-width: thin;
    border: 1px solid rgba(0, 0, 0, .05);
}

.currentColor{
    height: 75px;
    width: 75px;
    margin: 24px;
    display: flex;
}

.currentColor .color-picker{
    height: 90px;
    width: 75px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15%;
    align-self: center;
}

h1{
    font-weight: bolder;
    font-size:52px;
}

.tool-pallete{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
}

footer{
    align-items: center;
    text-align: center;
    margin-top: 24px;
}

.range-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    justify-content: space-between;
    height:100px;
}

.button-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    gap: 4px;
    margin: 12px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 125px;
    margin: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: transform .2s;
    font-family: 'Work Sans', sans-serif;
}

button:hover{
    transform: scale(1.06);
    box-shadow: 1 5px 10px rgb(0 0 0 / 0.2);
    font-weight: bolder;
}

a{
    text-decoration: none;
    
    color: black;
    transition: transform .2s;
}

a:hover{
    text-shadow: 0 3px 2px rgb(0 0 0 / 0.2);
    color: rgb(17, 17, 17);
}

img:hover{
    transform: scale(1.1);
}

